.flex-left{
  width: 250px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-right-color: aliceblue;
}

.btn-nav{
  margin-top: 40px;
  background-color: #464956;
  border: 0px;
  align-self: flex-start;
}

.nav-sidebar-open{
  background-color: #464956;
  text-decoration-color: azure;
  align-self: auto;
}

.nav-sidebar-closed{
  height: 0%;
  width: 0%;
  overflow-x: hidden;
  align-self: auto;
}

.img-dragon-eye{
  width: 150px;
  height: 150px;
}

.nav-link{
  display: block;
  text-decoration: none;
  padding-left: 4px;
  border-left: 3px solid transparent;
}

.nav-link:hover{
  border-left: 3px solid #C08423;
}

.nav-link:hover h2{
  color: #C08423;
}

.btn-logout{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  align-self:flex-start;
  padding: 8px 24px;
  background-color: transparent;
  border: 1px solid #C08423;
  border-radius: 4px;
  color: #C08423;
  font-size: 14px;
  cursor: pointer;
}

.btn-logout:hover{
  background-color: #C08423;
  color: #1e1f24;
}