.flex-left{
  width: 250px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.btn-nav{
  margin-top: 40px;
  background-color: #464956;
  border: 0px;
  align-self: flex-start;
}

.btn-nav-img{
  width: 150px;
  height: 150px;
}

.nav-sidebar-open{
  margin-left: 10px;
  background-color: #464956;
  text-decoration-color: azure;
  align-self: auto;
}

.nav-sidebar-closed{
  height: 0%;
  width: 0%;
  overflow-x: hidden;
  align-self: auto;
}