.flex-center{
  width: 100%;
  align-self:auto;
  align-items:center;
  display: flex;
  flex-direction: column;
}

.flex-centre-top{
  height:250px;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.img-header-logo{
  height: 200px;
  margin-top: 20px;
  align-self: flex-start;
}

.img-header-image{
  height: 250px;
  align-self: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .img-header-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}