.heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-name{
    text-align: left;
    width: 120vmin;
}

.hero-information{
    width: 120vmin;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.hero-description{
    text-align: justify;
    flex: 1;
}

.hero-image{
    height: 600px;
    width: 400px;
}